.portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}

.portfolio__item {
    background-color: var(--card-color);
    max-height: 700px;
    border-radius: 10px;
    /* padding: 20px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.img__container {
    max-width: 100%;
    padding: 30px 30px 0 30px;
    margin-bottom: 15px;
}

.bg__img {
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: top;
    transition: linear 20s;
}

.img__container .bg__img:hover {
    background-position: bottom;
    transition: linear 20s;
}

.info__container {
    padding: 0 30px;
}

.portfolio__subtitle {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
}

.portfolio__description {
    font-size: var(--smaller-font-size);
    text-align: justify;
    font-weight: var(--weight-400);
}

.techs {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.tech {
    /* background-color: var(--first-color); */
    background-color: #211e1e;
    color: var(--text-white);
    padding: 5px;
    border-radius: 10px;
    font-size: var(--tiny-font-size);
}

.link__btns {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: right;
}

.link__btn {
    border: 1px solid var(--first-color);
    color: var(--first-color);
    font-size: var(--tiny-font-size);
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: 10px;
}

.link__btn:hover {
    color: var(--text-white);
    background-color: var(--first-color);
}

@media screen and (max-width: 1200px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 50px;
    }

    .portfolio__item {
        width: 70%;
        margin: 0 auto;
    }

    .stats__title {
        padding-left: 35px;
    }

    .stats__title {
        width: 22px;
    }

    .skills__container {
        row-gap: 32px;
    }

    .progress__circle {
        width: 100px;
        height: 100px;
    }

    .skills__title {
        margin-top: 20px;
    }

    .resume__icon {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }

    .resume__item {
        padding-left: 55px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio__item {
        width: 100%;
        margin: 0 auto;
    }
}